.row{
    margin: 0;
}
.btn-design{
    color: white;
    background: darkred;
    width: 40px;
    height: 40px;
    border: 1px solid white;
    border-radius: 5px;
}
.button-container{
    border: 5px solid greenyellow;
    border-radius: 10px;
    padding: 10px 0;
}
.image-box{
    border: 5px solid greenyellow;
    border-radius: 10px;
}
.name{
    font-size: 25px;
    font-weight: bold;
    text-decoration: underline;
}
.text-style{
    font-family: 'Fuzzy Bubbles', cursive;
}